# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg/linux_amd64/
pkg/serviceAccountKey.json
pkg/src/cloud.google.com
pkg/src/firebase.google.com
pkg/src/github.com
pkg/src/go.opencensus.io
pkg/src/golang.org
pkg/src/google.golang.org
